.mz-badge-core {
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  box-sizing: border-box;
  &.is-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
  }
}

.mz-badge-content {
  height: 16px;
  min-width: 16px;
  line-height: 16px;
  font-size: 10px;
  padding: 0 4px;
  font-weight: bold;
}

.mz-badge.is-alone {
  vertical-align: 0.15em;
  .mz-badge-core {
    display: inline-block;
    position: relative;
    top: initial;
    right: initial;
    transform: none;
  }
}
