.mz-carousel-indicators {
  &.is-line {
    .mz-carousel-indicator {
      width: 20px;
      height: 2px;
      margin: 5px;
    }
  }
  &.is-full-line {
    width: 100%;
    height: 4px;
    .mz-carousel-indicator {
      flex: 1 0 auto;
    }
  }
  &.is-top,
  &.is-bottom {
    left: 50%;
    transform: translateX(-50%);
  }
  &.is-left,
  &.is-right {
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    &.is-line {
      .mz-carousel-indicator {
        width: 2px;
        height: 20px;
        margin: 5px;
      }
    }
    &.is-full-line {
      width: 4px;
      height: 100%;
      .mz-carousel-indicator {
        flex: 1 0 auto;
      }
    }
  }

  &.is-outside {
    position: static;
    text-align: center;
    .mz-carousel-indicator {
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }

  &.is-circle {
    .mz-carousel-indicator {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 5px;
    }
  }

  &.is-left {
    left: 0;
  }
  &.is-right {
    right: 0;
  }
  &.is-top {
    top: 0;
  }
  &.is-bottom {
    bottom: 0;
  }
}

.mz-carousel-indicator {
  transition: 0.3s;
  &.is-active {
    background-color: $primary;
  }
}
