.mz-carousel {
  &.is-vertical {
    .mz-carousel-arrow {
      left: 50%;
      &.is-previous {
        transform: translateX(-50%) rotate(90deg);
        top: 10px;
      }
      &.is-next {
        transform: translateX(-50%) rotate(-90deg) scaleX(-1);
        bottom: 10px;
      }
    }
  }
  &:not(.is-vertical) {
    .mz-carousel-arrow {
      top: 50%;
      transform: translateY(-50%);
      &.is-previous {
        left: 10px;
      }
      &.is-next {
        right: 10px;
      }
    }
  }
}

.mz-carousel-arrow {
  width: 40px;
  height: 40px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  transition-duration: 0.5s;
  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    margin-left: 6px;
    margin-top: 13px;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
    opacity: 0.75;
  }
  &.is-next::after {
    transform: scaleX(-1);
    transform-origin: 14px 12px;
  }
}
