.mz-catalogue {
  box-sizing: border-box;

  &.has-sidebar {
    padding: 10px 0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      left: 6px;
      border: 2px solid $gray-800;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    .mz-catalogue__content {
      overflow: hidden;
      padding-left: 20px;
    }
  }

  &__sidebar {
    top: 0;
    left: 10px;
    width: 0;
    box-sizing: border-box;
    border: 1px solid $gray-800;
    background-color: $gray-800;
    background-clip: content-box;
    .indicator {
      background-color: currentColor;
      top: 0;
      left: -2px;
      width: 4px;
      z-index: 9;
      transition: all 0.1s linear;
    }
  }
}

@include theme-root(dark) {
  .mz-catalogue {
    &__sidebar .indicator {
      color: $white;
    }
  }
}
