.mz-cell {
  & + & {
    border-top: 1px solid $border-color;
  }
  &__core {
    min-height: 37px;
  }

  &__title + &__desc {
    margin-top: 2px;
  }

  &__right {
    flex-shrink: 0;

    &.has-switch {
      padding-left: 20px;
      .mz-switch {
        vertical-align: middle;
      }
    }
  }

  &__child > & {
    padding-left: 30px;
  }
}
