.mz-filter-section {
  overflow-x: hidden;

  &--right,
  &--left {
    display: flex;
    .mz-filter-section {
      &__label {
        flex-shrink: 0;
        display: flex;
        padding: 9px 0;
        margin-right: 10px;
      }

      &__content {
        flex-grow: 1;
      }
    }
  }

  &--right {
    .mz-filter-section__label {
      text-align: right;
      justify-content: flex-end;
    }
  }

  &--top {
    .mz-filter-section__label {
      margin-bottom: 4px;
    }
  }
}

.mz-filter-section.mz-size--small {
  &.mz-filter-section {
    &--right,
    &--left {
      .mz-filter-section__label {
        padding: 7px 0;
      }
    }
  }
}
