.mz-filter-section-item {
  &__label {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid transparent;
    // transition: $color-transition;
  }
}

.mz-filter-section {
  /* prettier-ignore */
  $size-options: (
    // size: padding, fontsize
      small: (2px 4px, $font-size-xs ),
      large: (4px 6px, $font-size-md )
    );
  @each $size, $arr in $size-options {
    &.mz-size--#{$size} {
      .mz-filter-section__label {
        font-size: nth($arr, 2);
        line-height: nth($arr, 2);
      }

      .mz-filter-section-item__label {
        padding: nth($arr, 1);
        font-size: nth($arr, 2);
        line-height: nth($arr, 2);
      }
    }
  }
}
