.mz-fixed-section-wrapper {
  box-sizing: border-box;
}

.mz-fixed-section {
  box-sizing: border-box;
  &.is-fixed,
  &.is-fixed.is-sticky {
    position: fixed;
  }
  &.is-sticky {
    position: absolute;
    width: 100%;
  }
}
