$font-size-list: 32px 28px 24px 22px 20px 18px 16px 14px 12px;
@for $i from 1 through 9 {
  .mz-heading-#{$i} {
    font-size: nth($font-size-list, $i);
  }
}

.mz-heading {
  .mz-anchor {
    position: absolute;
    top: 0;
    left: -1em;
    opacity: 0;
  }
  &:hover .mz-anchor {
    opacity: 0.4;
  }
}
