.mz-heading {
  position: relative;
  color: $color-text-primary;
  .mz-anchor {
    position: absolute;
    top: 0;
    left: -1em;
    opacity: 0;
  }
  &:hover .mz-anchor {
    opacity: 0.4;
  }
}
