$mz-image-preview-header-height: 40px;
$mz-image-preview-thumbnails-height: 120px;

.mz-image-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  user-select: none;

  &.is-dragging {
    cursor: grabbing;
    .mz-image-preview-image {
      transition: none;
    }
    > main {
      cursor: grabbing;
    }
  }

  > header,
  > main,
  > footer,
  > .mz-progress {
    position: absolute;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: $mz-image-preview-header-height;
    padding-left: 20px;
    z-index: 10;
  }

  > main {
    top: 0;
    height: 100%;
    cursor: grab;
    z-index: 5;
    transform: translateZ(0);
  }

  > footer {
    bottom: 0;
    z-index: 10;
    transition: transform 0.2s;
  }
  > .mz-progress {
    top: 0;
    z-index: 20;
  }
}

.mz-button.mz-image-preview-button {
  width: $mz-image-preview-header-height;
  height: $mz-image-preview-header-height;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
  border-radius: 0;
}

.mz-image-preview-button--previous,
.mz-image-preview-button--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.mz-image-preview-button--previous {
  left: 10px;
}

.mz-image-preview-button--next {
  right: 10px;
}

.mz-image-preview-image {
  display: flex;
  width: 100%;
  min-height: 100%;
  transition: transform 0.15s linear;
  img {
    margin: auto;
    max-width: 100%;
  }
  &.height-first {
    height: 100%;
    width: initial;
    img {
      max-height: 100%;
    }
  }
}

.mz-image-preview-title-wrp {
  position: relative;
  .mz-image-preview-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.mz-image-preview-thumbnails {
  height: $mz-image-preview-thumbnails-height;
  background-color: rgba(33, 33, 33, 0.95);
}

.mz-image-preview-thumbnail-wrp {
  display: inline-block;
  width: 120px;
  height: 90px;
  margin-top: 13px;
  margin-left: 13px;
  border: 2px solid #ffffff;
  border-radius: $border-radius-sm;
  transition: border-color 0.2s;
  img {
    width: 100%;
    height: 100%;
  }
  &.selected {
    border-color: $primary;
  }
  &:not(.selected):hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
}

.hide-thumbnail {
  transform: translateY($mz-image-preview-thumbnails-height);
}
