.mz-list {
  list-style: none;

  &.is-divider {
    .mz-list-item:not(:last-child)::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $border-color;
    }
  }

  &__content {
    position: relative;
  }

  &__empty {
    color: $gray-900;
    padding: 10px 0;
    text-align: center;
  }
}
