.mz-list {
  &.is-divider {
    .mz-list-item:not(:last-child)::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $color-border-base;
    }
  }

  &__content {
    position: relative;
  }

  &__empty {
    color: $color-text-primary;
    padding: $padding-lg 0;
    text-align: center;
  }
}
