.mz-loading {
  position: relative;
  &--icon,
  &--inline {
    display: inline-block;
  }

  &--waiting {
    user-select: none;
    .mz-loading__container {
      opacity: 0.5;
    }
  }

  &__container {
    transition: opacity 0.3s linear;
  }

  &__core {
    position: relative;
    display: inline-block;
    width: px2em(50px);
    height: px2em(50px);
    padding: px2em(10px);
    box-sizing: border-box;
    text-align: initial;
  }

  &__icon {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .mz-mask {
    text-align: center;
  }

  &__text {
    font-size: 16px;
    color: #ffffff;
  }

  /* prettier-ignore */
  .four-color {
    .shape {
      position: absolute;
      width: px2em(10px);
      height: px2em(10px);
      border-radius: 1px;
      &.shape1 {
        left: 0;
        background-color: #5c6bc0;
      }
      &.shape2 {
        right: 0;
        background-color: #8bc34a;
      }
      &.shape3 {
        bottom: 0;
        background-color: #ffb74d;
      }
      &.shape4 {
        bottom: 0;
        right: 0;
        background-color: #f44336;
      }
    }

    &-1, &-4, &-5, &-7 {
      transform: rotate(45deg);
    }
    &-2, &-4 {
      transform: rotate(10deg);
      .shape {
        border-radius: 50%;
      }
    }
    &-2, &-3, &-4 {
      animation: rotation 3s infinite;
    }
    &-3 {
      .shape1 {
        border-top-left-radius: px2em(10px);
      }
      .shape2 {
        border-top-right-radius: px2em(10px);
      }
      .shape3 {
        border-bottom-left-radius: px2em(10px);
      }
      .shape4 {
        border-bottom-right-radius: px2em(10px);
      }
    }
    &-5 .shape, &-7 .shape {
      width: px2em(15px);
      height: px2em(15px);
    }
    &-6 {
      animation: rotation 1.5s infinite;
    }
    &-6 .shape {
      width: px2em(12px);
      height: px2em(12px);
      border-radius: px2em(2px);
    }
    &-7 {
      @keyframes loading-center-absolute {
        0% {
          transform: rotate(45deg);
        }
        25% {
          transform: rotate(135deg);
        }
        50% {
          transform: rotate(225deg);
        }
        75% {
          transform: rotate(315deg);
        }
        100% {
          transform: rotate(405deg);
        }
      }
      animation: loading-center-absolute 8s infinite;
    }

    @for $j from 1 through 3 {
      &-#{$j} {
        @for $i from 1 through 4 {
          .shape#{$i} {
            animation: animation#{$j}shape#{$i} 0.5s ease 0s infinite alternate;
          }
        }
      }
    }

    &-4 {
      @each $i, $delay in (1: 0, 2: 0.3, 3: 0.3, 4: 0) {
        .shape#{$i} {
          animation: animation4shape#{$i} 0.3s ease
            ($delay + s) infinite alternate;
        }
      }
    }

    &-5 {
      @for $i from 1 through 4 {
        .shape#{$i} {
          animation: animation5shape#{$i} 2s ease 0s infinite reverse;
        }
      }
    }

    &-6 {
      @for $i from 1 through 4 {
        .shape#{$i} {
          animation: animation6shape#{$i} 2s linear 0s infinite normal;
        }
      }
    }

    &-7 {
      @for $i from 1 through 4 {
        .shape#{$i} {
          animation: animation7shape#{$i} 2s infinite;
        }
      }
    }
  }
}

@mixin animationTranslate($animationNum, $shapeNum, $translateX, $translateY) {
  @keyframes animation#{$animationNum}shape#{$shapeNum} {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(px2em($translateX), px2em($translateY));
    }
  }
}

@mixin animationT2($animationNum, $index, $x25, $y25, $x50, $y50, $x75, $y75) {
  @keyframes animation#{$animationNum}shape#{$index} {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(px2em($x25), px2em($y25));
    }
    50% {
      transform: translate(px2em($x50), px2em($y50));
    }
    75% {
      transform: translate(px2em($x75), px2em($y75));
    }
  }
}

@mixin animationTR($index, $sX, $sY, $sAngle, $eX, $eY, $eAngle) {
  @keyframes animation7shape#{$index} {
    25% {
      transform: translate(px2em($sX), px2em($sY)) rotate($sAngle + deg);
    }
    100% {
      transform: translate(px2em($eX), px2em($eY)) rotate($eAngle + deg);
    }
  }
}

@each $index, $size in (1: 16, 2: 20, 3: 5, 4: 5) {
  @include animationTranslate($index, 1, $size, $size);
  @include animationTranslate($index, 2, -$size, $size);
  @include animationTranslate($index, 3, $size, -$size);
  @include animationTranslate($index, 4, -$size, -$size);
}

@each $index, $size in (5: 15, 6: 18) {
  @include animationT2($index, 1, 0, $size, $size, $size, $size, 0);
  @include animationT2($index, 2, -$size, 0, -$size, $size, 0, $size);
  @include animationT2($index, 3, $size, 0, $size, -$size, 0, -$size);
  @include animationT2($index, 4, 0, -$size, -$size, -$size, -$size, 0);
}

@include animationTR(1, 0, -10, -180, 0, 0, -180);
@include animationTR(2, 10, 0, -180, 0, 0, -180);
@include animationTR(3, -10, 0, -180, 0, 0, -180);
@include animationTR(4, 0, 10, -180, 0, 0, -180);

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
