.mz-masonry--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  .mz-masonry-queue {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.mz-masonry--column-count {
  .mz-masonry-item {
    break-inside: avoid;
  }
}
