.mz-navigation {
  overflow: hidden;
  .router-link-active .mz-list-item.is-clickable {
    @include foreground-active;
    color: $primary;
    .mz-list-item__title {
      color: $primary;
    }
  }
}

@include theme-root(dark) {
  .mz-navigation {
    .router-link-active .mz-list-item.is-clickable {
      color: $white;
      .mz-list-item__title {
        color: $white;
      }
    }
  }
}
