.mz-pagination {
  position: relative;
  white-space: nowrap;
  padding: 2px 5px;
  font-weight: 700;

  &.is-right {
    text-align: right;
  }

  &.is-separate {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.is-outlined {
    .mz-page-prev,
    .mz-page-next {
      margin: 0 5px;
    }
    > .mz-pagination-pager > .mz-button + .mz-button {
      margin-left: 5px;
    }
  }
}

.mz-pagination-pager {
  position: relative;
  user-select: none;
  display: inline-block;
  font-size: 0;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.mz-pagination-total,
.mz-pagination-jumper {
  margin: 0 5px;
  font-size: 14px;
  color: $gray-700;
  font-weight: normal;
}

.mz-page-number {
  font-weight: inherit;
}

.mz-pagination-sizes {
  width: 120px;
  margin: 0 5px;
  .mz-input__inner {
    text-align: center;
  }
}

.mz-pagination-jumper .mz-input {
  margin: 0 3px;
  width: 40px;
  input {
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

@include theme-root(dark) {
  .mz-pagination {
    .mz-page-number.active {
      color: $white;
    }
    .mz-page-prev,
    .mz-page-next,
    .mz-page-quick-prev,
    .mz-page-quick-next,
    .mz-page-number:not(.active) {
      color: $gray-500;
    }

    &.is-outlined {
      .mz-page-number.active {
        color: $primary;
        background-color: $white;
      }
    }
  }
}
