.mz-pagination {
  position: relative;
}

.mz-pagination-pager {
  position: relative;
  user-select: none;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  padding: 0;
  margin: 0;
}
