.mz-progress {
  position: relative;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);

  &__background,
  &__buffer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__background,
  &__buffer,
  &__progress {
    height: inherit;
    transition: inherit;
    background-color: $color-primary;
  }

  &__background {
    z-index: 0;
    opacity: 0.3;
  }
  &__buffer {
    z-index: 1;
    opacity: 0.5;
  }

  &--indeterminate {
    .mz-progress {
      &__progress {
        position: absolute;
        width: 30% !important;
        z-index: 3;
        animation: mz-progress-indeterminate 2.2s ease-in infinite;
        will-change: left;
      }
      &__buffer {
        display: none;
      }
    }
    &.mz-progress--alternate {
      .mz-progress__progress {
        animation: mz-progress-indeterminate 2.2s ease-in-out infinite alternate;
      }
    }
  }

  &--rounded {
    border-radius: 100px;
    .mz-progress {
      &__background,
      &__buffer,
      &__progress {
        border-radius: inherit;
      }
    }
  }

  &--striped {
    .mz-progress__progress {
      background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.25) 25%,
        transparent 0,
        transparent 50%,
        rgba(255, 255, 255, 0.25) 0,
        rgba(255, 255, 255, 0.25) 75%,
        transparent 0,
        transparent
      );
      background-size: 40px 40px;
      background-repeat: repeat-x;
    }
    &.mz-progress--striped-animation .mz-progress__progress {
      animation: mz-progress-striped 1s linear infinite;
    }
  }
}

@keyframes mz-progress-indeterminate {
  0%,
  20% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}

@keyframes mz-progress-striped {
  0% {
    background-position-x: -40px;
  }
  100% {
    background-position-x: 0;
  }
}
