.mz-radio-group {
  display: inline-block;
  font-size: 0;

  &--block {
    display: block;
    &.mz-radio-group--button {
      display: flex;
      .mz-radio,
      .mz-radio-button {
        flex: 1 0 auto;
      }
    }
  }
}
