.mz-rate {
  display: inline-block;
  line-height: 1;
  user-select: none;
  &--readonly > &__stars {
    cursor: default;
  }

  &__stars {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  &__star {
    position: relative;
    display: inline-block;
    height: 100%;
    color: #e8e8e8;
    transition: all 0.3s;
    &.is-active {
      color: #f7ba2a;
    }
  }

  &__decimal {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    color: #f7ba2a;
    opacity: 0;
    transition: all 0.3s;
    &.is-active {
      opacity: 1;
    }
  }

  &__text {
    font-size: 0.8em;
    line-height: 1em;
    margin-left: 10px;
    color: $color-text-primary;
  }
}
