.mz-row {
  position: relative;
  box-sizing: border-box;
  &::before,
  &::after {
    display: table;
    content: '';
  }
  &::after {
    clear: both;
  }

  &--flex {
    display: flex;
    &.justify {
      &-start {
        justify-content: flex-start;
      }
      &-center {
        justify-content: center;
      }
      &-end {
        justify-content: flex-end;
      }
      &-space-between {
        justify-content: space-between;
      }
      &-space-around {
        justify-content: space-around;
      }
      &-space-evenly {
        justify-content: space-evenly;
      }
    }
    &.align {
      &-top {
        align-items: flex-start;
      }

      &-middle {
        align-items: center;
      }
      &-bottom {
        align-items: flex-end;
      }
    }
  }
}
