.mz-slide-group {
  position: relative;

  &--scrollable {
    padding: 0 30px;
  }

  &__scroll {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__content {
    transition: transform $primary-transition 0.15s;
  }

  &__control {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    color: $color-text-primary;
    &:active {
      color: $color-text-regular;
    }
  }
}
