$color-snackbar-default: #323232;

.mz-snackbar-wrapper {
  display: flex;
  &.is-fixed {
    position: fixed;
  }

  &.is-absolute {
    position: absolute;
  }

  &.is-fixed,
  &.is-absolute {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    pointer-events: none;
    > .mz-snackbar {
      pointer-events: initial;
      width: auto;
      min-width: 344px;
      max-width: 672px;
      transition: all 0.3s;
      &[data-placement^='top'] {
        margin-top: 0;
        margin-bottom: auto;
      }

      &[data-placement^='bottom'] {
        margin-top: auto;
        margin-bottom: 0;
      }

      &[data-placement$='-start'] {
        margin-left: 0;
        margin-right: auto;
      }

      &[data-placement$='-end'] {
        margin-left: auto;
        margin-right: 0;
      }

      &[data-placement='top'],
      &[data-placement='bottom'] {
        margin-left: auto;
        margin-right: auto;
      }

      &[data-placement='center'] {
        margin: auto;
      }
    }
  }
}

.mz-snackbar {
  display: flex;
  color: #ffffff;
  width: 100%;
  background-color: $color-snackbar-default;
  box-shadow: 1px 1px 3px $color-border-base;

  &.is-vertical &__container {
    flex-direction: column;
  }

  &.is-vertical &__suffix {
    padding-left: 0;
  }

  &__prefix {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    & + .mz-snackbar__container {
      padding-left: 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 48px;
    line-height: 32px;
    width: 100%;
    padding: 8px 16px;
  }

  &__content {
    word-break: break-all;
  }

  &__suffix {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .mz-snackbar-wrapper {
    &.is-fixed,
    &.is-absolute {
      > .mz-snackbar {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
