.mz-tab {
  position: relative;
  user-select: none;
  cursor: pointer;
  height: 100%;
  padding: 0 12px;
  text-align: center;
  z-index: 50;
  color: $gray-700;
  transition: $color-transition;

  &--grow {
    flex: 1 0 auto;
    max-width: none;
  }

  &--active {
    color: $primary;
  }

  &--disabled {
    color: $gray-600;
  }
}

.mz-tab-panel {
  color: $gray-900;
}
