.mz-table {
  width: 100%;
  border-collapse: separate;

  &-th,
  &-td {
    position: relative;
    > span {
      position: relative;
      z-index: 20;
    }
  }

  &-thead > tr > th,
  &-tbody > tr > td {
    padding: 16px;
    overflow-wrap: break-word;
  }

  &-thead > tr > th {
    color: $color-text-primary;
    font-weight: 500;
    background: $color-thead-background;
    border-bottom: 1px solid $color-border-base;
    transition: background 0.3s ease, color 0.3s ease;
  }

  &-tbody > tr:hover {
    td {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-tr-hover-background;
        z-index: 0;
        opacity: 0.15;
      }
    }
  }
}
