.mz-table {
  width: 100%;
  border-collapse: separate;
  box-sizing: border-box;

  &-th,
  &-td {
    position: relative;
    box-sizing: border-box;
    > span {
      position: relative;
      z-index: 20;
    }
  }

  &-thead > tr > th,
  &-tbody > tr > td {
    padding: 16px;
    overflow-wrap: break-word;
  }

  &-thead > tr > th {
    color: $color-text-primary;
    font-weight: 500;
    background: $color-thead-background;
    border-bottom: 1px solid $color-border-base;
    transition: background 0.3s ease, color 0.3s ease;
  }

  &.allow-hover {
    .mz-table-tbody > tr:hover {
      td::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-tr-hover-background;
        z-index: 0;
        opacity: 0.15;
      }
    }
  }

  &.is-border {
    border: 1px solid $color-border-base;
    .mz-table-tr:not(:last-child) > .mz-table-td {
      border-bottom: 1px solid $color-border-base;
    }
    .mz-table-td:not(:last-child),
    .mz-table-th:not(:last-child) {
      border-right: 1px solid $color-border-base;
    }
  }
}
