.mz-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  color: $color-text-primary;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: bottom;

  &--round {
    border-radius: 100px;
  }

  &--left-round {
    border-radius: 100px 0 0 100px;
  }

  &--right-round {
    border-radius: 0 100px 100px 0;
  }

  &--outlined {
    background-color: transparent !important;
    color: #e0e0e0;
  }

  &--text {
    background-color: transparent !important;
    color: #e0e0e0;
    border-color: transparent !important;
  }

  &__content {
    display: inline-block;
  }

  &__close {
    margin-left: 2px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  /* prettier-ignore */
  $size-options: (
    // size: padding, height, fontsize
    small: ( 2px, 16px, 12px ),
    medium: ( 6px, 22px, 14px ),
    default: ( 8px, 26px, 16px ),
    large: ( 12px, 30px, 16px )
  );

  @each $size, $arr in $size-options {
    &.mz-size--#{$size} {
      padding: 0 nth($arr, 1);
      height: nth($arr, 2);
      line-height: nth($arr, 2) - 2px;
      font-size: nth($arr, 3);
    }
  }
}
