.mz-fade-enter,
.mz-fade-leave-to {
  opacity: 0;
}

.mz-fade-enter-to,
.mz-fade-leave {
  opacity: 1;
}

.mz-fade-enter-active,
.mz-fade-leave-active {
  transition: opacity $primary-transition;
}

.mz {
  &-x-transition,
  &-x-reverse-transition,
  &-y-transition,
  &-y-reverse-transition {
    &-enter-active,
    &-leave-active {
      transition: $primary-transition;
    }
    &-leave,
    &-leave-to {
      position: absolute !important;
      top: 0;
      width: 100%;
    }
  }
  &-x-transition {
    &-enter {
      transform: translateX(100%);
    }

    &-leave-to {
      transform: translateX(-100%);
    }
  }

  &-x-reverse-transition {
    &-enter {
      transform: translateX(-100%);
    }

    &-leave-to {
      transform: translateX(100%);
    }
  }
  &-y-transition {
    &-enter {
      transform: translateY(100%);
    }

    &-leave-to {
      transform: translateY(-100%);
    }
  }
  &-y-reverse-transition {
    &-enter {
      transform: translateY(-100%);
    }

    &-leave-to {
      transform: translateY(100%);
    }
  }
}

@each $type, $type2 in ('', 'scale'), ('-x', 'scaleX'), ('-y', 'scaleY') {
  .mz#{$type}-zoom {
    &-enter-active,
    &-leave-active {
      transition: $primary-transition;
    }
    &-enter,
    &-leave-to {
      transform: #{'#{$type2}(0)'};
      opacity: 0.3;
    }

    &-enter-to,
    &-leave {
      transform: #{'#{$type2}(1)'};
      opacity: 1;
    }
  }
}
