:root {
  --mz-tag__bg-color: #e0e0e0;
  --mz-tag__color: var(--color-text-primary);
}

:root[data-theme='dark'] {
  --mz-tag__bg-color: #555;
  --mz-tag__color: #fff;
}

.mz-tag {
  display: inline-block;
  background-color: var(--mz-tag__bg-color);
  color: var(--mz-tag__color);
  border-radius: 4px;

  &--round {
    border-radius: 100px;
  }

  &--left-round {
    border-radius: 100px 0 0 100px;
  }

  &--right-round {
    border-radius: 0 100px 100px 0;
  }

  &--outlined {
    background-color: transparent;
    color: var(--mz-tag__bg-color);
    border: 1px solid var(--mz-tag__bg-color);
  }

  &--text {
    background-color: transparent;
    color: var(--mz-tag__bg-color);
  }

  &__close {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }

  &.mz-size--small {
    padding: 2px;
    font-size: 12px;
    line-height: 12px;
    .mz-tag__close {
      margin-left: 2px;
    }
  }
  &.mz-size--medium {
    padding: 4px 6px;
    font-size: 14px;
    line-height: 14px;
    .mz-tag__close {
      margin-left: 4px;
    }
  }
  &.mz-size--default {
    padding: 5px 8px;
    font-size: 16px;
    line-height: 16px;
    .mz-tag__close {
      margin-left: 6px;
    }
  }
  &.mz-size--large {
    padding: 7px 12px;
    font-size: 16px;
    line-height: 16px;
    .mz-tag__close {
      margin-left: 10px;
    }
  }
}
