@import './base.scss';

$color-primary: var(--color-primary);
$color-success: var(--color-success);
$color-warning: var(--color-warning);
$color-danger: var(--color-danger);

$color-text-primary: var(--color-text-primary);
$color-text-regular: var(--color-text-regular);
$color-text-secondary: var(--color-text-secondary);
$color-text-placeholder: var(--color-text-placeholder);
$color-text-disabled: var(--color-text-disabled);

$color-page-background: var(--color-page-background);
$color-card-background: var(--color-card-background);

$shadow-umbra-color: var(--shadow-umbra-color);
$shadow-penumbra-color: var(--shadow-penumbra-color);
$shadow-ambient-color: var(--shadow-ambient-color);
