.component-card {
  [class^='card-demo'] {
    .mz-button + .mz-button {
      margin-left: 10px;
    }
    .mz-card {
      margin: 20px 0;
    }
  }
  .demo-block:nth-of-type(2) {
    .description p {
      color: var(--color-warning);
    }
  }
}
