#page-component-content {
  [class^='component-'] {
    position: relative;
  }
  .update-datetime {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: $color-text-regular;
    z-index: 1;
    transition: opacity 0.2s;
  }

  p {
    font-size: 14px;
    color: $color-text-regular;
    line-height: 1.5em;
    margin: 1em 0;
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  [class^='component-'] > h3 {
    font-size: 24px;
    margin: 55px 0 20px;
  }

  [class^='component-'] > h4 {
    font-size: 20px;
    margin: 20px 0 12px;
  }

  .mz-document-header {
    position: relative;
    font-weight: 400;
    color: $color-text-primary;
    &:hover .mz-document-anchor {
      opacity: 0.4;
    }
  }

  .mz-document-anchor {
    position: absolute;
    left: -20px;
    opacity: 0;
    color: $color-primary;
  }

  .mz-document-ul {
    li {
      position: relative;
      padding-left: 12px;
      color: $color-text-primary;
      & + li {
        margin-top: 5px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 5px;
        height: 5px;
        transform: translateY(-50%);
        background-color: $color-text-regular;
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    tr {
      th,
      td {
        text-align: left;
        padding: 16px 10px;
        border-bottom: 1px solid $color-border-base;
      }
      th {
        font-size: 13px;
        color: $color-text-secondary;
      }
      td {
        color: $color-text-primary;
        font-size: 14px;
      }
    }

    a {
      color: #409eff;
    }
  }

  .demo-font-size-14 {
    font-size: 14px;
  }

  .height-200 {
    height: 200px;
  }

  .height-400 {
    height: 400px;
  }

  .component-anchor {
    [class^='anchor-demo'] {
      padding: 0 20px;
    }
    .anchor-demo2 {
      padding: 10px 0;
    }
  }

  .component-button {
    [class^='button-demo'] {
      .mz-button {
        margin: 8px 10px 8px 0;
      }
      .mz-button-group .mz-button {
        margin: initial;
      }

      .mz-button-group {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .component-card {
    [class^='card-demo'] {
      .mz-button + .mz-button {
        margin-left: 10px;
      }
      .mz-card {
        margin: 20px 0;
      }
    }
  }

  .component-checkbox {
    .checkbox-demo1 {
      > div > span {
        margin-right: 50px;
      }
    }
  }

  .component-switch {
    .mz-switch + .mz-switch {
      margin-left: 20px;
    }
  }

  .component-progress {
    .mz-progress + .mz-progress {
      margin-top: 20px;
    }
  }

  .component-tag {
    .mz-tag + .mz-tag {
      margin-left: 10px;
    }
  }

  .component-badge {
    .mz-badge + .mz-badge {
      margin-left: 20px;
    }
  }

  .component-input {
    .mz-input + .mz-input {
      margin-top: 10px;
    }
  }
}

#demo-heading-scroll-container,
#demo-heading-scroll-container-2 {
  padding: 0 40px;
}

:root[data-theme='dark'] {
  #page-component-content .mz-document-anchor {
    color: #ffffff;
  }
}

@media only screen and (max-width: 992px) {
  #page-component {
    > .mz-catalogue {
      display: none;
    }
    #page-component-content {
      padding-right: 30px !important;
      .update-datetime {
        opacity: 0;
      }
    }
  }
}
