#page-component-content {
  p {
    font-size: 14px;
    color: var(--color-text-regular);
    line-height: 1.5em;
    margin: 1em 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    position: relative;
    font-weight: 400;
    color: var(--color-text-primary);
    &:hover .header-anchor {
      opacity: 0.4;
    }
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  [class^='component-'] > h3 {
    font-size: 24px;
    margin: 55px 0 20px;
  }

  [class^='component-'] > h4 {
    font-size: 20px;
    margin: 20px 0 12px;
  }

  .header-anchor {
    position: absolute;
    left: -20px;
    opacity: 0;
    color: var(--color-primary);
  }

  .highlight {
    .html {
      background-color: transparent;
      padding: 10px 20px;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    tr {
      th,
      td {
        text-align: left;
        padding: 16px 10px;
        border-bottom: 1px solid var(--color-border-light);
      }
      th {
        font-size: 13px;
        color: var(--color-text-secondary);
      }
      td {
        color: var(--color-text-primary);
        font-size: 14px;
      }
    }
  }

  @import './button.scss';
  @import './card.scss';
}

:root[data-theme='dark'] {
  #page-component-content .header-anchor {
    color: #ffffff;
  }
}
