@import '@example/styles/theme/base.scss';

#page-component-content {
  [class^='component-'],
  [class^='directive-'] {
    position: relative;
    > p a {
      color: #409eff;
    }
    > h3 {
      font-size: 24px;
      margin: 55px 0 20px;
    }
    > h4 {
      font-size: 20px;
      margin: 20px 0 12px;
    }
  }
  .update-datetime {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: $color-text-regular;
    z-index: 1;
    transition: opacity 0.2s;
  }

  p {
    font-size: 14px;
    color: $color-text-regular;
    line-height: 1.5em;
    margin: 1em 0;
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  .mz-document-heading {
    position: relative;
    font-weight: 400;
    color: $color-text-primary;
    &:hover .mz-document-anchor {
      opacity: 1;
    }
  }

  .mz-document-anchor {
    position: absolute;
    left: -20px;
    opacity: 0;
    color: $color-primary;
  }

  .mz-document-ul {
    list-style: initial;
    margin-left: 10px;
    li {
      color: $color-text-primary;
      margin: 8px 0 10px 10px;
    }
  }

  table:not(.mz-table) {
    width: 100%;
    border-spacing: 0;
    tr {
      th,
      td {
        text-align: left;
        padding: 16px 10px;
        border-bottom: 1px solid $color-border-base;
      }
      th {
        font-size: 13px;
        color: $color-text-secondary;
      }
      td {
        color: $color-text-primary;
        font-size: 14px;
      }
    }

    a {
      color: #409eff;
    }
  }

  .demo-font-size-14 {
    font-size: 14px;
  }

  .height-200 {
    height: 200px;
  }

  .height-400 {
    height: 400px;
  }

  .component-anchor {
    .anchor-demo2 {
      padding: 10px 0;
    }
  }

  .component-button {
    [class^='button-demo'] {
      .mz-button {
        margin: 8px 10px 8px 0;
      }
      .mz-button-group .mz-button {
        margin: initial;
      }

      .mz-button-group {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .component-card {
    [class^='card-demo'] {
      .mz-button + .mz-button {
        margin-left: 10px;
      }
    }
  }

  .component-checkbox {
    .checkbox-demo1 {
      > div > span {
        margin-right: 50px;
      }
    }
  }

  .component-switch {
    .mz-switch + .mz-switch {
      margin-left: 20px;
    }
  }

  .component-progress {
    .mz-progress + .mz-progress {
      margin-top: 20px;
    }
  }
  .directive-tooltip,
  .component-tag {
    .mz-tag {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .component-badge {
    .mz-badge + .mz-badge {
      margin-left: 20px;
    }
  }

  .component-input {
    .mz-input + .mz-input {
      margin-top: 10px;
    }
  }
  .component-select {
    .mz-select {
      width: 200px;
    }
  }

  .component-radio {
    .mz-radio-group {
      margin-bottom: 10px;
    }
  }

  .component-layout {
    .layout-type {
      text-align: center;
      .mz-header,
      .mz-main,
      .mz-aside,
      .mz-footer {
        background-color: $color-primary;
        color: #ffffff;
      }
      .mz-header,
      .mz-footer {
        opacity: 0.7;
        line-height: 64px;
      }
      .mz-aside {
        opacity: 0.8;
        line-height: 160px;
      }
      .mz-main {
        opacity: 0.9;
        line-height: 160px;
      }
    }
  }
}

#demo-heading-scroll-container,
#demo-heading-scroll-container-2 {
  padding: 0 40px;
}

:root[data-theme='dark'] {
  #page-component-content .mz-document-anchor {
    color: #ffffff;
  }
}

@media only screen and (max-width: 992px) {
  .menu-icon {
    display: block !important;
  }

  .app-topbar__navigation {
    margin-left: 40px;
    li {
      padding: 0 10px;
    }
  }

  #sidebar {
    width: 100% !important;
    padding-top: $topbar-height !important;
    overflow-y: hidden !important;
  }

  #page-component {
    > .mz-catalogue {
      display: none;
    }
    #page-component-content {
      padding-right: 30px !important;
      .update-datetime {
        opacity: 0;
      }
    }
  }
}
