:root {
  --mz-button__radius: 4px;
}

.mz-button {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  -webkit-appearance: none;
  cursor: pointer;
  color: var(--color-text-primary, #303133);
  border: none;
  border-radius: var(--mz-button__radius);
  background-color: transparent;
  outline: none;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform, opacity, background-color,
    border-radius, color, border, background-color;
  transition-timing-function: map-get($transition, 'fast-out-slow-in');
  vertical-align: middle;

  &::before {
    border-radius: var(--mz-button__radius);
  }

  &__content {
    position: relative;
    z-index: 50;
  }

  &:not(.mz-button--disabled) {
    @include before-background;
    will-change: box-shadow;
    &:not(.mz-button--flat):active {
      @include elevation(8);
    }
  }

  &--only-background {
    background-color: currentColor;
    &::before,
    .mz-ripple-wrapper .mz-ripple,
    .mz-button__content {
      color: #ffffff;
    }
  }

  &--round {
    border-radius: 100px;
    overflow: hidden;
  }

  &--outlined {
    border: 1px solid currentColor;
    &.mz-button--disabled::after {
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }
  }

  &--disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.12);

    &.mz-button--outlined,
    &.mz-button--flat {
      background-color: transparent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#f2f2f2, 0.6);
    }
    .mz-button__content {
      opacity: 0.6;
    }
  }

  /* prettier-ignore */
  $size-options: (
  // size: padding, height, fontsize
    small: ( 6px, 24px, 12px ),
    default : ( 12px, 30px, 14px ),
    medium: ( 16px, 32px, 16px ),
    large: ( 18px, 34px, 16px )
  );
  @each $size, $arr in $size-options {
    &.mz-size--#{$size} {
      padding: 0 nth($arr, 1) + 1px;
      height: nth($arr, 2);
      line-height: nth($arr, 2);
      font-size: nth($arr, 3);
    }
    &--outlined.mz-size--#{$size} {
      padding: 0 nth($arr, 1);
      line-height: nth($arr, 2) - 2px;
    }
    &--icon.mz-size--#{$size} {
      padding: 0;
      width: nth($arr, 2);
    }
  }
}
