.hide-node {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.invisible-node {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
