.mz-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;

  &.has-aside {
    flex-direction: row;
  }
}

.mz-header,
.mz-aside,
.mz-footer {
  flex: 0 0 auto;
}

.mz-header {
  height: 64px;
}

.mz-main {
  flex: auto;
  min-height: 0;
}

.mz-footer {
  min-height: 0;
}
