$colors: (
  'white': #ffffff,
  'black': #000000,
  primary: #424242,
  success: #46c37b,
  warning: #f5a623,
  danger: #f56c6c,
  info: #909399,
  text-primary: #ffffff,
  text-regular: #c0c4cc,
  text-secondary: #909399,
  text-placeholder: #606266,
  border-base: rgba(255, 255, 255, 0.12),
  border-light: #e4e7ed,
  border-lighter: #ebeef5,
  border-extra-light: #f2f6fc,
  body-background: #303030,
  hover-background-b: rgba(0, 0, 0, 0.25),
  hover-background-w: rgba(255, 255, 255, 0.25)
);

:root[data-theme='dark'] {
  // color
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  // shadow 阴影颜色
  --shadow-umbra-color: rgba(192, 196, 204, 0.2);
  --shadow-penumbra-color: rgba(192, 196, 204, 0.14);
  --shadow-ambient-color: rgba(192, 196, 204, 0.12);
  // MZButton
  --mz-button__background-color: transparent;
  --mz-button__background-color--disabled: rgba(255, 255, 255, 0.12);
  --mz-button__box-shadow: 0 1px 2px 0 rgba(192, 196, 204, 0.3),
    0 3px 6px 2px rgba(192, 196, 204, 0.15);
  // MZCellGroup
  --mz-cell-group__list-background-color: #424242;
  --mz-cell-group__list-box-shadow: 0 1px 2px 0
      rgba(#{var(--color-shadow-rgb)}, 0.3),
    0 3px 6px 2px rgba(#{var(--color-shadow-rgb)}, 0.15);
  // MZListItem
  --mz-list-item__font-color--active: #{var(--color-text-primary)};
}
