$colors: (
  'white': #ffffff,
  'black': #000000,
  primary: #424242,
  success: #46c37b,
  warning: #f5a623,
  danger: #f56c6c,
  info: #909399,
  text-primary: #ffffff,
  text-regular: #c0c4cc,
  text-secondary: #909399,
  text-placeholder: #606266,
  border-base: rgba(255, 255, 255, 0.12),
  border-light: #e4e7ed,
  border-lighter: #ebeef5,
  border-extra-light: #f2f6fc,
  body-background: #303030,
  card-background: #424242,
  hover-background-b: rgba(0, 0, 0, 0.25),
  hover-background-w: rgba(255, 255, 255, 0.25)
);

:root[data-theme='dark'] {
  // color
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }

  --scrollbar-thumb-color--active: #636363;
  // shadow 阴影颜色
  --shadow-umbra-color: rgba(192, 196, 204, 0.2);
  --shadow-penumbra-color: rgba(192, 196, 204, 0.14);
  --shadow-ambient-color: rgba(192, 196, 204, 0.12);

  .mz-list-item {
    --mz-list-item__font-color--active: var(--color-text-primary);
  }

  .mz-tabs {
    --mz-tabs__active-bar-color: var(--color-text-primary);

    &__nav--fill .mz-tab--active {
      color: var(--color-primary);
    }
  }

  .mz-tab {
    --mz-tab__font-color--active: var(--color-text-primary);
  }

  .mz-button.mz-button--primary {
    --mz-button__font-color: var(--color-white);
    &.mz-button--outlined {
      --mz-button__border: 1px solid var(--color-white);
    }
  }

  .mz-input {
    --mz-input__line-color: var(--color-text-primary);
    --mz-input__caret-color: var(--color-text-primary);
    --mz-input__label-color--focus: var(--color-text-primary);
  }
}
