$display-values: none inline inline-block block table table-cell table-row flex
  inline-flex grid;

@each $value in $display-values {
  .d-#{$value} {
    display: $value;
  }
}

.is-pointer {
  cursor: pointer !important;
}

.is-not-allowed {
  cursor: not-allowed !important;
}

.not-user-select {
  user-select: none !important;
}

.clearfix::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.is-circle {
  border-radius: 50% !important;
  overflow: hidden !important;
}

.align-items-center {
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-double-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-vertical-center {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.absolute-horizontal-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@each $align in (left, center, right) {
  .text-align-#{$align} {
    text-align: $align;
  }
}
