.mz-fade {
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity $primary-transition;
  }
}

@each $type, $type2 in ('', 'scale'), ('-x', 'scaleX'), ('-y', 'scaleY') {
  .mz#{$type}-zoom {
    &-enter-active,
    &-leave-active {
      transition: $primary-transition;
    }
    &-enter,
    &-leave-to {
      transform: #{'#{$type2}(0)'};
      opacity: 0.3;
    }

    &-enter-to,
    &-leave {
      transform: #{'#{$type2}(1)'};
      opacity: 1;
    }
  }
}
