/*
  文本截取显示
  line-num: 显示文本的行数 默认一行
*/
@mixin text-clip($line-num: 1) {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-num;
  overflow: hidden;
}

@mixin elevation($z, $important: false) {
  box-shadow: map-get($shadow-key-umbra, $z), map-get($shadow-key-penumbra, $z),
    map-get($shadow-key-ambient, $z) if($important, !important, null);
}

@mixin before-background {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.1s;
  }

  &:hover::before {
    opacity: 0.12;
  }

  &:active::before {
    opacity: 0.3;
  }
}

@mixin before-background-active {
  &::before {
    opacity: 0.3;
  }
}

@mixin before-background-disabled {
  &::before {
    display: none;
  }
}
