/*
  文本截取显示
  line-num: 显示文本的行数 默认一行
*/
@mixin text-clip($line-num: 1) {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-num;
  overflow: hidden;
}

@mixin bgHover {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0;
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: currentColor;
      opacity: 0.12;
    }
  }
}
