html {
  background-color: var(--color-body-background);
  transition: var(--color-transition);
}
html,
body,
#app {
  height: 100%;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
  &-corner {
    background-color: transparent;
  }
  // 滚动条上的滚动滑块
  &-thumb {
    background-color: var(--scrollbar-thumb-color);
  }
  &-thumb:active {
    background-color: var(--scrollbar-thumb-color--active);
  }
}

#page-component-content {
  .header-anchor {
    opacity: 0;
    color: var(--color-primary);
  }
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor {
    opacity: 0.4;
  }
  & [class^='component-'] > p {
    padding: 0 16px;
  }
  .demo-block {
    padding: 10px 16px;
  }
}
