html {
  background-color: $color-page-background;
}
html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-text-primary;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.08);
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  &-corner {
    background-color: transparent;
  }
  // 滚动条上的滚动滑块
  &-thumb {
    background-color: $color-primary;
  }
  &-thumb:active {
    background-color: $color-primary;
    opacity: 0.5;
  }
}

@import './docs/index.scss';
