@mixin foreground(
  $color: currentColor,
  $hover-opacity: 0.12,
  $active-opacity: 0.3
) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: 0;
    transition: opacity 0.1s;
    border-radius: inherit;
  }

  &:hover::before {
    opacity: 0.12;
  }

  &:active::before {
    opacity: 0.3;
  }
}

@mixin foreground-active($opacity: 0.3) {
  &::before {
    opacity: $opacity;
  }
}

@mixin foreground-disabled {
  &::before {
    display: none;
  }
}
