// Body 主体
$body-bg: $white !default;
$body-color: $gray-900 !default;
// caret 箭头
$caret-width: 0.3em !default;
$caret-vertical-align: $caret-width * 0.85 !default;
$caret-spacing: $caret-width * 0.85 !default;
// container
$container-padding-x: 16px !default;
