$root-map: (
  default:
    map-merge(
      map-merge($colors, $theme-colors),
      (
        gray-100: $gray-100,
        gray-200: $gray-200,
        gray-300: $gray-300,
        gray-400: $gray-400,
        gray-500: $gray-500,
        gray-600: $gray-600,
        gray-700: $gray-700,
        gray-800: $gray-800,
        gray-900: $gray-900,
        black: $black,
        border-color: $border-color,
        body-bg: $body-bg,
        body-color: $body-color,
        card-bg: $card-bg,
        card-color: $card-color
      )
    ),
  dark: (
    primary: #1e1e24,
    white: $white,
    gray-100: $gray-900,
    gray-200: $gray-800,
    gray-300: $gray-700,
    gray-400: $gray-600,
    gray-500: $gray-500,
    gray-600: $gray-400,
    gray-700: $gray-300,
    gray-800: $gray-200,
    gray-900: $gray-100,
    black: $black,
    border-color: $gray-700,
    body-color: $gray-100,
    body-bg: #16161a,
    card-color: $gray-100,
    card-bg: #2e2f33
  )
);
