// Transition 过渡动画
$transition-easing: (
  'fast-out-slow-in': cubic-bezier(0.4, 0, 0.2, 1),
  'fast-in-slow-out': cubic-bezier(0, 0, 0.8, 0.8),
  'linear-out-slow-in': cubic-bezier(0, 0, 0.2, 1),
  'fast-out-linear-in': cubic-bezier(0.4, 0, 1, 1),
  'ease-in-out': cubic-bezier(0.4, 0, 0.6, 1),
  'fast-in-fast-out': cubic-bezier(0.25, 0.8, 0.25, 1),
  'swing': cubic-bezier(0.25, 0.8, 0.5, 1)
) !default;
$primary-transition: 0.3s map-get($transition-easing, 'swing') !default;
$secondary-transition: 0.2s map-get($transition-easing, 'ease-in-out') !default;
$color-transition: background-color 0.3s linear, color 0.3s linear,
  fill 0.3s linear, box-shadow 0.3s linear, border-color 0.3s linear;
