$topbar-height: 60px;
$copyright-height: 20px;
$topbar-navigation-text-color: #ffffff;
$topbar-navigation-text-color--hover: #46c37b;
$topbar-navigation-text-color--active: mix(#ffffff, #46c37b, 30%);
