:root[data-theme='dark'] {
  ::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.08);
    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  .demo-card {
    .highlight {
      ::selection {
        background-color: $gray-700;
      }

      .hljs,
      .hljs-subst {
        color: #ffffff;
      }
    }
    .description {
      background-color: #303030;
    }
  }

  #page-component-content {
    .component-layout {
      .layout-type {
        text-align: center;
        .mz-header,
        .mz-main,
        .mz-aside,
        .mz-footer {
          background-color: $white;
          color: #000;
        }
        .mz-header,
        .mz-footer {
          opacity: 0.7;
          line-height: 64px;
        }
        .mz-aside {
          opacity: 0.8;
          line-height: 160px;
        }
        .mz-main {
          opacity: 0.9;
          line-height: 160px;
        }
      }
    }
  }
}
