:root[data-theme='dark'] {
  --demo-block__selection-color: var(--color-primary-15);
  --demo-block__background-color: rgba(0, 0, 0, 0.1);
  --demo-block__highlight-color: #ffffff;
  --demo-block__description-background-color: #303030;
}
