:root[data-theme='dark'] {
  ::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.08);
    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  .demo-card {
    .action .mz-icon:hover {
      color: #ffffff;
      opacity: 0.8;
    }
    .highlight {
      ::selection {
        background-color: $color-text-secondary;
      }

      .hljs,
      .hljs-subst {
        color: #ffffff;
      }
    }
    .description {
      background-color: #303030;
    }
  }
}
