// 默认颜色对照变量
$base-colors: (
  primary: #3f51b5,
  success: #46c37b,
  warning: #f5a623,
  danger: #f56c6c,
  info: #909399,
  text-primary: #303133,
  text-regular: var(--color-text-primary-7),
  text-secondary: var(--color-text-primary-5),
  text-placeholder: var(--color-text-primary-4),
  border-base: rgba(0, 0, 0, 0.16),
  border-light: rgba(0, 0, 0, 0.12),
  border-lighter: rgba(0, 0, 0, 0.08),
  border-extra-light: rgba(0, 0, 0, 0.04),
  body-background: transparent,
  card-background: #ffffff,
  hover-background-b: rgba(0, 0, 0, 0.25),
  hover-background-w: rgba(255, 255, 255, 0.25),
  shadow-rgb: '0, 0, 0',
  transition:
    'background-color 0.3s linear, color 0.3s linear, fill 0.3s linear, box-shadow 0.3s linear, border-color 0.3s linear'
);
