$colors: initColors(
  (
    primary: #424242,
    text-primary: #cccccc,
    text-regular: var(--color-text-primary-8),
    text-secondary: var(--color-text-primary-6),
    text-placeholder: var(--color-text-primary-4),
    border-base: rgba(255, 255, 255, 0.12),
    border-light: #e4e7ed,
    border-lighter: #ebeef5,
    border-extra-light: #f2f6fc,
    body-background: #303030,
    card-background: #424242
  ),
  $mode: 'dark'
);

:root[data-theme='dark'] {
  @include mzThemeColorVariable($colors);

  --scrollbar-thumb-color--active: #636363;
  // shadow 阴影颜色
  --shadow-umbra-color: rgba(192, 196, 204, 0.2);
  --shadow-penumbra-color: rgba(192, 196, 204, 0.14);
  --shadow-ambient-color: rgba(192, 196, 204, 0.12);

  .mz-list-item {
    --mz-list-item__font-color--active: var(--color-text-primary);
  }

  .mz-tabs {
    --mz-tabs__active-bar-color: var(--color-text-primary);

    &__nav--fill .mz-tab--active {
      color: var(--color-primary);
    }
  }

  .mz-tab {
    --mz-tab__font-color--active: var(--color-text-primary);
  }

  .mz-button.mz-button--primary {
    --mz-button__font-color: #ffffff;
    &.mz-button--outlined {
      --mz-button__border: 1px solid #ffffff;
    }
  }

  .mz-input {
    --mz-input__line-color: var(--color-text-primary);
    --mz-input__line-color--focused: var(--color-text-primary);
    --mz-input__input-caret-color: var(--color-text-primary);
    --mz-input__label-color--focused: var(--color-text-primary);
  }

  .mz-radio {
    --mz-radio__label-font-color: var(--color-text-secondary);
    &.checked {
      --mz-radio__label-font-color: var(--color-text-primary);
    }
    &.disabled {
      --mz-radio__label-font-color: var(--color-text-placeholder);
    }
  }

  .mz-radio-button {
    --mz-radio-button__label-font-color: var(--color-text-secondary);
    &.checked {
      --mz-radio-button__label-font-color: var(--color-text-primary);
    }
    &.disabled {
      --mz-radio-button__label-font-color: var(--color-text-placeholder);
      &.checked {
        --mz-radio-button__background-color: var(--color-primary-9);
      }
    }
  }
}
