$colors: initColors(
  (
    primary: #1e1e24,
    text-primary: #cccccc,
    text-regular: var(--color-text-primary-8),
    text-secondary: var(--color-text-primary-6),
    text-placeholder: var(--color-text-primary-4),
    border-base: rgba(255, 255, 255, 0.16),
    border-light: rgba(255, 255, 255, 0.12),
    border-lighter: rgba(255, 255, 255, 0.08),
    border-extra-light: rgba(255, 255, 255, 0.04),
    body-background: #16161a,
    card-background: #1e1e24
  ),
  $mode: 'dark'
);

:root[data-theme='dark'] {
  @include mzThemeColorVariable($colors);

  --scrollbar-thumb-color--active: #636363;
  // shadow 阴影颜色
  --shadow-umbra-color: rgba(192, 196, 204, 0.2);
  --shadow-penumbra-color: rgba(192, 196, 204, 0.14);
  --shadow-ambient-color: rgba(192, 196, 204, 0.12);

  .mz-list-item {
    --mz-list-item__font-color--active: var(--color-text-primary);
  }

  .mz-tabs {
    --mz-tabs__active-bar-color: var(--color-text-primary);

    &__nav--fill .mz-tab--active {
      color: var(--color-primary);
    }
  }

  .mz-tab {
    --mz-tab__font-color--active: var(--color-text-primary);
  }

  .mz-input {
    --mz-input__line-color: var(--color-text-primary);
    --mz-input__line-color--focused: var(--color-text-primary);
    --mz-input__input-caret-color: var(--color-text-primary);
    --mz-input__label-color--focused: var(--color-text-primary);
  }

  .mz-radio {
    --mz-radio__label-font-color: var(--color-text-secondary);
    &.checked {
      --mz-radio__label-font-color: var(--color-text-primary);
    }
    &.disabled {
      --mz-radio__label-font-color: var(--color-text-placeholder);
    }
  }

  .mz-radio-button {
    --mz-radio-button__label-font-color: var(--color-text-secondary);
    &.checked {
      --mz-radio-button__label-font-color: var(--color-text-primary);
    }
    &.disabled {
      --mz-radio-button__label-font-color: var(--color-text-placeholder);
      &.checked {
        --mz-radio-button__background-color: var(--color-primary-9);
      }
    }
  }

  .mz-checkbox {
    --mz-checkbox__label-font-color: var(--color-text-regular);
    &.indeterminate,
    &.checked {
      --mz-checkbox__label-font-color: var(--color-text-primary);
    }
  }

  .mz-catalogue-item {
    --mz-catalogue-item__font-color: var(--color-text-regular);
    &__text {
      &:hover {
        --mz-catalogue-item__font-color: #ffffff;
      }
    }
    &--active {
      --mz-catalogue-item__font-color: #ffffff;
    }
  }

  .mz-anchor {
    --mz-anchor__symbol-color: #ffffff;
  }

  .mz-filter-section-item {
    &:not(.is-outlined).is-checked {
      --mz-filter-section-item__label-color: var(--color-primary);
      --mz-filter-section-item__background-color: #ffffff;
    }
    &.is-outlined.is-checked {
      --mz-filter-section-item__label-color: #ffffff;
      --mz-filter-section-item__border-color: #ffffff;
    }
  }

  .mz-progress {
    --mz-progress__background-color: #ffffff;
    --mz-progress__striped-rgb: 0, 0, 0;
  }

  .mz-carousel-indicators {
    --mz-carousel-indicators__item-bg-color: #999999;
    --mz-carousel-indicators__item-bg-color--active: #ffffff;
  }
}
