$colors: initColors(
  $merge-default: true
);

:root {
  @include mzThemeColorVariable($colors);

  --scrollbar-thumb-color: var(--color-primary);
  --scrollbar-thumb-color--active: var(--color-primary-light-2);
}
